.block{
  width: 100%;
  height: calc(100vh - 80px);
  background-color: white;
  padding: 0 120px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  position: relative;

  .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
    .h1{
      font-family: sans-serif;
      width: 80%;
      font-size: 63px;
      line-height: 68px;
      font-feature-settings: 'clig' off, 'liga' off;
      font-weight: 900 !important;
      color: #010101;
      flex-shrink: 0;
    }
    p{
      width: 60%;
      font-size: 16px;
      line-height: 22px;
      color: #676767;
    }

    .txtBtns{
      display: flex;
      gap: 15px ;
      align-items: center;

      .btn1 , .btn2{
        background-color: #ED017F;
        color: white;
        transition: .3s;
        padding: 14px 28px;
        border-radius: 4px;
        text-align: center;
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: 600;
        border: 1px solid transparent;
        &:hover{
          cursor: pointer;
          background-color: #fd65b6;
          color: white;
        }
      }
      .btn2{
        background-color: white;
        border: 1.4px solid #ED017F;
        color:#ED017F;
      }
    }

    .social{
      width: auto;
      display: flex;
      gap: 15px;
      align-items: center;
      color: grey;
      font-size: 19px;
      margin-top: 150px;
      span{
        display: flex;
        color: black;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        font-weight: 600;
      }
    }
  }

  
  .loans{

    button{
      position: absolute;
      top: 50px;
      padding:0 29px;
      height: 71px;
      background-color: white;
      display: flex;
      justify-content: space-around;
      gap: 20px;
      align-items: center;
      z-index: 2;
      border: 1px solid transparent;
      border-radius: 55px;
      text-align: center;
      box-shadow: 4px 4px 58px 0 rgba(0, 0, 0, 0.12);

      &:last-child{
        top: 24%;
        right: 50px;
      }
    }
  }

  .photo{
    width: 50%;

    .back{
      width: 47.5%;
      height: 682px;
      position: absolute;
      z-index: 0;
      top: -80px;
      right: 0;
      background: url("./img/t2PuBsfgkl__1_-removebg-preview (1) 1.png");
      background-color: #FFEAF5;
      background-repeat: no-repeat;
      background-position: -160px 100px;
      border-radius: 8px;
    }

  }
}


@media (screen and max-width: 600px) {
  .block{
    width: 90%;
    padding: 0;
    justify-content: start;
    flex-direction: column;
    height: auto;
    margin: auto;
    margin-bottom: 40px;
    .text{
      margin-top: 100px ;
      width: 100%;


      .h1{
        font-size: 50px;
        width: 100%;
        line-height: normal;
      }
      p{width: 100%;}

      .txtBtns{

        .btn1 , .btn2{
          font-size: 10px ;
          letter-spacing: 1px;
        }
      }

      .social{
        margin-top: 20px;
      }
    }

    .photo{

      width: 100%;

      .back{
        display: none;
        position: static;
        width: 100%;
        height: 682px;
        background-position: center bottom;
      }
    }
    .loans{
      display: none;
    }
  }
}