.about{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;

  gap: 100px;
  .foto{
    width: 45%;
    img{
      width: 100%;
    }
  }
  .text{
    width: 40%;
    display: flex;
    gap: 20px;
    align-items: start;
    flex-direction: column;

    p{
      color: #676767;
      font-size: 16px;
      line-height: 29px;
      width: 80%;
    }

    button{
      background-color: transparent;
      border: 1px solid transparent;
      color: #ED017F;
      font-size: 19px;
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
    }
  }
}

@media (max-width: 600px) {
  .about{
    flex-direction: column;
    width: 90%;
    margin: auto;

    .foto{
      width: 100%;
      img{
        width: 100%;
      }
    }

    .text{
      width: 100%;
      p{
        width: 100%;
        line-height: 23px;
      }
      button{
        margin-bottom: 40px ;
      }
    }
  }
}